<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>
  <div id="bench">
    <v-app id="app">
      <v-main>
        <v-container class="back" fill-height fluid>
          <v-row align="center" justify="center">
            <v-col cols="5">
              <template>
                <v-slide-x-transition>
                  <v-card v-show="vcard" class="ma-2">
                    <v-card-title>MM2K Bench Press</v-card-title>
                    <v-card-subtitle>Change the settings</v-card-subtitle>
                    <v-text-field v-model="inputRM" class="ma-4" style="max-width: 90%;" type="number" label="1RM (kg)"
                      required>
                    </v-text-field>
                    <v-card-actions>
                      <v-btn class="ma-2 primary" @click="calculate()">Calculate</v-btn>
                    </v-card-actions>
                  </v-card>
                </v-slide-x-transition>
                <v-slide-x-transition>
                  <v-card v-show="vcard2" class="ma-2">
                    <v-card-title>Calculated Training</v-card-title>
                    <v-card-subtitle>Calculated after the settings</v-card-subtitle>
                    <div class="ml-3">
                      <v-tooltip top>
                        <template v-slot:activator="{ on, attrs }">
                          <v-chip v-bind="attrs" v-on="on" class="ma-1">Reps</v-chip>
                        </template>
                        <span>Normal reps</span>
                      </v-tooltip>
                      <v-tooltip top>
                        <template v-slot:activator="{ on, attrs }">
                          <v-chip v-bind="attrs" v-on="on" class="ma-1" color="red">Reps</v-chip>
                        </template>
                        <span>Negative reps (hold 5-7 seconds)</span>
                      </v-tooltip>
                      <v-tooltip top>
                        <template v-slot:activator="{ on, attrs }">
                          <v-chip v-bind="attrs" v-on="on" class="ma-1" color="orange">Reps</v-chip>
                        </template>
                        <span>As much reps as you are able to do</span>
                      </v-tooltip>
                    </div>
                    <v-expansion-panels v-model="openedPanel">
                      <v-expansion-panel v-for="item in trainingDays" :key="item.name">
                        <v-expansion-panel-header>
                          {{ item.name }}
                          <template v-slot:actions>
                            <v-icon :color="item.color">
                              {{ item.icon }}
                            </v-icon>
                          </template>
                        </v-expansion-panel-header>
                        <v-expansion-panel-content>

                          <v-simple-table>
                            <template v-slot:default>
                              <thead>
                                <tr>
                                  <th>
                                    Sets
                                  </th>
                                  <th>
                                    Weight (kg)
                                  </th>
                                  <th>
                                    x Reps
                                  </th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr v-for="index in item.amount" :key="index">
                                  <td>
                                    <v-chip>{{ setValues[item.id + 1 * index] }}</v-chip>
                                  </td>
                                  <td>
                                    <v-chip>{{ round(inputRM * (weightValues[(item.id + 1 * index)])) }} kg</v-chip>
                                  </td>
                                  <td>
                                    <v-chip :color="getColor(repValues[item.id + 1 * index])">
                                      {{ repValues[item.id + 1 * index] }}</v-chip>
                                  </td>
                                </tr>
                              </tbody>
                            </template>
                          </v-simple-table>

                          <v-checkbox :key="item.id" label="Training finished" @change="checkDay(item.uniqueID)">
                          </v-checkbox>

                        </v-expansion-panel-content>
                      </v-expansion-panel>
                    </v-expansion-panels>
                  </v-card>
                </v-slide-x-transition>
              </template>
            </v-col>
          </v-row>
        </v-container>
      </v-main>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script>
    new Vue({
      el: '#bench',
      vuetify: new Vuetify({
        theme: {
          dark: true,
          themes: {},
        }
      }),
      data: () => ({
        checkbox: false,
        openedPanel: null,
        vcard: true,
        vcard2: false,
        infos: true,
        inputRM: 100,
        modeIcon: 'mdi-moon-waning-crescent',
        weightValues: [0, 0.725, 0.775, 0.800, 0.800, 0.875, 1.050, 0.750, 0.800, 0.825, 0.850, 0.900, 1.075,
          0.775, 0.825, 0.875, 0.875, 0.925, 1.100, 0.800, 0.875, 0.90, 0.900, 0.950, 1.125, 0.825,
          0.900, 0.925, 0.925, 0.900, 0.975, 1.025, 1.150, 0.850, 0.925, 0.950, 0.950, 1.050, 1.100,
          1.175,
        ],
        repValues: [0, 6, 5, 4, 3, 2, -1, 6, 5, 4, 3, 2, -1, 6, 5, 0, 3, 2, -1, 5, 3, 0, 3, 2, -1, 5, 3, 0, 3,
          3,
          2, 1, -1, 5, 3, 0, 1, 1, 1, -1
        ],
        setValues: [0, 1, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 1, 1, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 1, 2, 2, 1,
          1,
          2, 2, 2, 1, 1, 1, 1, 2
        ],
        trainingDays: [{
            id: 0,
            uniqueID: 0,
            name: 'Workout One',
            icon: '$expand',
            color: 'primary',
            amount: 3,
          },
          {
            id: 3,
            uniqueID: 1,
            name: 'Workout Two',
            icon: '$expand',
            color: 'primary',
            amount: 3,
          },
          {
            id: 6,
            uniqueID: 2,
            name: 'Workout Three',
            icon: '$expand',
            color: 'primary',
            amount: 3,
          },
          {
            id: 9,
            uniqueID: 3,
            name: 'Workout Four',
            icon: '$expand',
            color: 'primary',
            amount: 3,
          },
          {
            id: 12,
            uniqueID: 4,
            name: 'Workout Five',
            icon: '$expand',
            color: 'primary',
            amount: 3,
          },
          {
            id: 15,
            uniqueID: 5,
            name: 'Workout Six',
            icon: '$expand',
            color: 'primary',
            amount: 3,
          },
          {
            id: 18,
            uniqueID: 6,
            name: 'Workout Seven',
            icon: '$expand',
            color: 'primary',
            amount: 3,
          },
          {
            id: 21,
            uniqueID: 7,
            name: 'Workout Eight',
            icon: '$expand',
            color: 'primary',
            amount: 3,
          },
          {
            id: 24,
            uniqueID: 8,
            name: 'Workout Nine',
            icon: '$expand',
            color: 'primary',
            amount: 3,
          },
          {
            id: 28,
            uniqueID: 9,
            name: 'Workout Ten',
            icon: '$expand',
            color: 'primary',
            amount: 4,
          },
          {
            id: 32,
            uniqueID: 10,
            name: 'Workout Eleven',
            icon: '$expand',
            color: 'primary',
            amount: 3,
          },
          {
            id: 35,
            uniqueID: 11,
            name: 'Workout Twelve',
            icon: '$expand',
            color: 'primary',
            amount: 4,
          },
        ],
      }),
      mounted() {},
      methods: {
        getColor(id) {
          if (id == -1) {
            return "red"
          }
          if (id == 0) {
            return "orange"
          }
        },
        checkDay(id) {
          if (this.trainingDays[id].color == 'success') {
            this.trainingDays[id].color = 'primary'
            this.trainingDays[id].icon = '$expand'
          } else {
            this.trainingDays[id].color = 'success'
            this.trainingDays[id].icon = 'mdi-check'
          }
          this.openedPanel = null
        },
        round(number) {
          var value = (number * 2).toFixed() / 2;
          return value;
        },
        calculate() {
          this.vcard2 = true
        },
        toggleMode() {
          this.$vuetify.theme.dark = !this.$vuetify.theme.dark
          if (this.modeIcon == "mdi-moon-waning-crescent") {
            this.modeIcon = "mdi-brightness-4"
          } else if (this.modeIcon == "mdi-brightness-4") {
            this.modeIcon = "mdi-moon-waning-crescent"
          }
        },

      },
    });
  </script>
</body>

</html>